:root {
    --color-blue: #87CEEB;
    --color-cream: #F5DEB3;
    --color-brown: #A0522D;
    --color-green: #808000;
    --color-white: #FAF3E0;
    --color-dark-green: #2E8B57;
}


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Belanosima", sans-serif;
}

body {
    background-color: var(--color-brown);
}

a,
a:visited,
a:link,
a:hover,
a:active {
    color: var(--color-dark-green);
    text-decoration: none;
}

.navegation-bar {
    display: flex;
    padding: 4px;
    background-color: var(--color-cream);
}

.brand-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;


    img {
        border-radius: 50%;
        width: 40px;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1;
    }

    span {
        font-size: 35px;
        font-weight: 800;
    }
}


.info-section {
    margin: 10px 40px;

    h1 {
        margin: 0 0 16px;
        font-size: 40px;
        font-weight: 900;
    }

    h2 {
        margin: 0 0 8px;
        font-size: 30px;
        font-weight: 700;

    }

    p {
        font-size: 16px;
        margin: 0 0 8px;
    }

    p:last-child {
        margin: 0;
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: var(--color-cream) solid 2px;
        border-radius: 20px;
        overflow: hidden;
        gap: 8px;

        img {
            margin: 16px;
            width: 200px;
            height: auto;
            aspect-ratio: 1 / 1.25;
            object-fit: cover;
        }

        figcaption {
            width: 100%;
            padding: 8px 16px;
            background-color: var(--color-blue);
            font-weight: 600;
            text-align: center;
            color: var(--color-white);
        }

        figcaption>a,
        figcaption>a:link,
        figcaption>a:visited,
        figcaption>a:active,
        figcaption>a:hover {
            color: inherit;
        }
    }

    .cards:hover {
        border-color: var(--color-dark-green);

        figcaption {
            background-color: var(--color-green);
            color: var(--color-blue);
        }
    }
}

.animal-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.description-animals {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--color-cream) solid 2px;
    border-radius: 20px;
    overflow: hidden;
    gap: 8px;
    padding: 16px;
    width: 220px; 
    text-align: center;
    position: relative;
}

.description-animals img {
    margin: 16px;
    width: 200px;
    height: 150px;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
    border-radius: 50%;
}


.description-animals p {
    max-height: 0;
    color: rgb(255, 0, 0);
    opacity: 0;
    overflow: hidden;
    transition: max-height 1s ease, opacity 1s ease;
}


.description-animals:hover p {
    max-height: 270px; 
    opacity: 1;
}

.diferent-color-forest{
    color: var(--color-blue);
}


#background-water{
    background-image: url(https://www.fundacionaquae.org/wp-content/uploads/2018/03/fondos-arenosos-e1659096068373.jpg);
}


#background-forest{
    background-image: url(https://cdn.unenvironment.org/decadeonrestoration/2020-03/nature-3294681_1280%20%281%29.jpg);
}

#background-sky{
    background-image: url(https://www.muyinteresante.com/wp-content/uploads/sites/5/2023/08/01/64c927ca910e0.jpeg);
}
