:root{
    --color-blue:#55d0ed;
    --color-red:rgba(177, 0, 62, 0.8);
    --color-green:#50C878;
    --color-yellow: #FFC107;
    --color-white: #ffff;
}


*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Belanosima", sans-serif;
}

body{
    background-color: var(--color-green);
}

a,
a:visited,
a:link,
a:hover,
a:active {
    color: var(--color-red);
    text-decoration: none;
}
.navegation-bar{
    display: flex;
    padding: 4px;
    background-color: var(--color-blue);
}

.brand-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;


    img{
        border-radius: 50%;
        width: 40px;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1;
    }

    span{
        font-size: 35px;
        font-weight: 800;
    }
}


.info-section{
    margin: 10px 40px;

    h1{
        margin: 0 0 16px;
        font-size: 40px;
        font-weight: 900;
    }

    h2{
        margin: 0 0 8px;
        font-size: 30px;
        font-weight: 700;

    }

    p{
        font-size: 16px;
        margin: 0 0 8px;
    }

    p:last-child {
        margin: 0;
    }
}

.cards-contaainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--color-red) solid 2px;
    border-radius: 20px;
    overflow: hidden;
    gap: 8px;

    img{
        margin: 16px;
        width: 200px;
        height: auto;
        aspect-ratio: 1 / 1.25;
        object-fit: cover;
    }

    figcaption{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 8px 16px;
        background-color: var(--color-yellow);
        color: var(--color-white);
    }
    figcaption>a,
    figcaption>a:link,
    figcaption>a:visited,
    figcaption>a:active,
    figcaption>a:hover {
        color: inherit;
    }
}

.card:hover {
    border-color: var(--color-green);
    
    figcaption {
        background-color: var(--color-dark-green);
    }

}

